* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
}

window#waybar {
  background: rgba(20, 20, 20, 0.9);
  color: #ffffff;
}

#workspaces button {
  padding: 0 8px;
  color: #aaaaaa;
  background: transparent;
}

#workspaces button.active {
  color: #ffffff;
}

#clock,
#network,
#pulseaudio,
#battery {
  padding: 0 10px;
}
